<%- include('header'); -%>

  <div class="box" id="heading">
    <h1><%=kindofDay%></h1>
    <p><%=listName%> to-do list</p>
  </div>
  <div class="box">

    <%list.forEach(function(element){%>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" onchange="this.form.submit()" value="<%= element._id %>" name="checkbox">
          <p><%=element.name%></p>
        </div>
        <input type="hidden" name="listName" value="<%= listName %>"></input>
      </form>

    <%});%>
    <form class="item" action="/" method="post">
        <input type="text" name="item" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%=listName%>">+</button>
    </form>
  </div>

<%- include('footer'); -%>
